<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Generates UnioStream unit test case.</string>
	<key>Summary</key>
	<string>Generates UnioStream unit test case.</string>
	<key>SortOrder</key>
	<string>3</string>
	<key>DefaultCompletionName</key>
	<string>Unio</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>UnioStream Unit Tests name:</string>
			<key>Description</key>
			<string>The name of the UnioStream Unit Tests to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___StreamTests</string>
			<key>Description</key>
			<string>Be going to create UnioStream unit test case with this name.</string>
			<key>Identifier</key>
			<string>StreamTestName</string>
			<key>Name</key>
			<string>UnioStream Unit Tests name:</string>
			<key>Required</key>
			<string>false</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
